%table.table.table-hover.table-condensed.datatable
  %thead
    %tr
      %th Chain
      %th Name
      %th Category
      %th Type
      %th Segment
      %th City          
      %th Latitude
      %th Longitude    
  %body
  - @hotel_infos.each do |hotel_info|
    %tr
      %td= hotel_info.chain
      %td 
        = link_to(hotel_info.hotel_name.name, :controller => 'hotel_infos', :action => 'show', :id => hotel_info.id) # :name => hotel_info.hotel_name.name
      %td= hotel_info.category.split("estrellas")[0].to_i unless hotel_info.category.nil?
      %td= hotel_info.property_type      
      %td= hotel_info.segment      
      %td= hotel_info.address.city                         
      %td= hotel_info.latitude
      %td= hotel_info.longitude                  
%br/
