%table.table.table-hover.table-condensed.rooms
  %thead
    %tr
      %th Chain
      %th Name
      %th Category
      %th Type
      %th Segment
      %th City          
      %th Latitude
      %th Longitude    
  %body
  - @hotel_infos.each do |hotel_info|
    %tr
      %td= hotel_info.chain
      %td= hotel_info.hotel_name.name
      %td= hotel_info.category.split("estrellas")[0].to_i unless hotel_info.category.nil?
      %td= hotel_info.property_type      
      %td= hotel_info.segment      
      %td= hotel_info.address.city             	           
      %td= hotel_info.latitude
      %td= hotel_info.longitude                  
      %td= link_to 'Show', hotel_info
      %td= link_to 'Edit', edit_hotel_info_path(hotel_info)
      %td= link_to 'Destroy', hotel_info, :method => :delete, :data => { :confirm => 'Are you sure?' }
%br/
